*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz

.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.env
.env*
sftp-config.json
fabfile.py*
dev_pm2app.json
pm2app.json
sftp-config*
pm2.*

__pycache__
nodemon.*
copy*.sh
ecosystem.config*


mock.json
db.json
lesscache.json
nodemon.json

newman/*
!newman/.gitignore
!newman/COLLECTION*.json
json_environments/*
config.json
